(
    configs:[
        (id:0,name:"Stone",icon_string:"textures/002.png",staff_type:Voxel((id:1,direction:Z))),
        (id:1,name:"Grass",icon_string:"textures/草坪.png",staff_type:Voxel((id:3,direction:Z))),
        (id:2,name:"Soli",icon_string:"textures/003.png",staff_type:Voxel((id:2,direction:Z))),
        (id:3,name:"Sand",icon_string:"textures/沙子.png",staff_type:Voxel((id:6,direction:Z))),
        (id:4,name:"Sown",icon_string:"textures/雪.png",staff_type:Voxel((id:4,direction:Z))),
        (id:5,name:"FireWork",icon_string:"staff/烟花.png",staff_type:Consumable(0)),
        (id:6,name:"DryGrass",icon_string:"textures/干草地.png",staff_type:Voxel((id:8,direction:Z))),
        (id:7,name:"BlueGrass",icon_string:"textures/苍翠地.png",staff_type:Voxel((id:9,direction:Z))),
        (id:8,name:"AppleWood",icon_string:"textures/苹果树A面.png",staff_type:Voxel((id:10,direction:Z))),
        (id:9,name:"AppleLeaf",icon_string:"textures/苹果叶子.png",staff_type:Voxel((id:11,direction:Z))),
        (id:10,name:"Apple",icon_string:"textures/苹果.png",staff_type:Consumable(0)),
        (id:11,name:"AppleLog",icon_string:"textures/棍子.png",staff_type:Consumable(0)),
        (id:12,name:"TestCube",icon_string:"textures/测试1.png",staff_type:Voxel((id:12,direction:Z))),
    ],
    // 掉落配置
    filled_configs:[
        // 叶子有 20% 概率掉 一个苹果
        (voxel_id:11,filled_config:[
            (possible: 0.2,staff_id: 10,times: 1),
            (possible: 0.6,staff_id: 11,times: 2),
        ]),
    ],
)